body{
  background-color: #5C815F;
}
h1{
  position: absolute;
  border-radius: 20px 40px;
  width: 300px;
  border: 10px solid LightGrey;
  padding: 25px;
  margin: 25px;
  text-align: center;
  font-size: 200%;
  font-family: Helvetica;
  color: LightGrey;
}
p{
  word-wrap: break-word;
  text-align: center;
  font-size: 150%;
  font-family: Helvetica;
  color: LightGrey;
}
ul{
  word-wrap: break-word;
  list-style: none;
  font-size: 130%;
  font-family: Helvetica;
  text-align: center;
  color: LightGrey;
}
div {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
   background-color: #4CAF50;
   border: none;
   color: LightGrey;
   padding: 20px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 30px 550px;
   cursor: pointer;
   -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
strong{
  font-family: sans-serif;
  text-align: right;
}
.button1:hover{
  background-color: LightGrey;
  color: black;
  border: 2px solid #4CAF50;
  margin: 30px 550px;
  border-radius: 15% 30%;
}
.button2:hover{
  background-color: LightGrey;
  color: black;
  border: 2px solid #4CAF50;
  margin: 30px 550px;
  border-radius: 15% 30%;
}
#thika{
  background-size: 100%;
  background-image:url("./../images/samuel-ferrara-412633.jpg");
}
#snake{
  background-size: 100%;
  background-image: image("images/desmond-simon-412497.jpg");
}
#anime{
  background-size: 100%;
  background-image: url("/home/one/Documents/Portfolio/images/marco-bonomo-89638.jpg");
}
#bleach{
  background-size: 100%;
  background-image: url("/home/one/Documents/Portfolio/images/image1.jpg");
}
#wowa{
  background-size: 100%;
  background-image: url("/home/one/Documents/Portfolio/images/forrest-cavale-353.jpg");
}
#jamhuri{
background-size: cover;
min-height: 150px;
}
#me{
  background-size: 40%;
  background-image: url("/home/one/Documents/Portfolio/images/troll.jpg");
}
#me2{
  background-size: 40%;
  background-image: url("/home/one/Documents/Portfolio/images/IMG_20170625_070040.jpg")
}
